* Recent Game(s) {{range .Site.Data.sharables.steam}} 
  * [{{.name}}]({{.link}}){{else}}
  * No games (on steam) played recently!{{end}}
* Recent Song(s){{range .Site.Data.sharables.spotify}}
  * [{{.name}}]({{.link}}){{else}}
  * No recently played songs (on Spotify) recently!{{end}}
* Recent Book Series {{range .Site.Data.sharables.kavita}}
  * [{{ .name }}]({{ .link }}) ({{ printf "%.0f%%" (mul (.completion_progress | default 0) 100)}} complete){{else}}
  * No currently-read books (tracked on Kavita) recently!{{end}}
